{% extends 'mailings/base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Список сообщений</h2>
    <a href="{% url 'mailings:message_create' %}" class="btn btn-primary mb-3">Добавить сообщение</a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Тема</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for message in object_list %}
            <tr>
                <td>{{ message.subject }}</td>
                <td>
                    <a href="{% url 'mailings:message_update' message.pk %}" class="btn btn-warning btn-sm">Редактировать</a>
                    <a href="{% url 'mailings:message_delete' message.pk %}" class="btn btn-danger btn-sm">Удалить</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
